[Unit]
Description=Starts cosmo backend
After=network.target socket_client.service
Requires=socket_client.service

[Service]
Type=simple
Restart=always
RestartSec=5
User=kxr
WorkingDirectory=/home/kxr/LTI-25/Cosmo/Telemetry_visualization/Backend
ExecStart=/bin/bash -c '/bin/npm run dev >> /home/kxr/LTI-25/Cosmo/backend.log 2>&1'

[Install]
WantedBy=multi-user.target