[Unit]
Description=Status Server Service (SSS)
After=network.target

[Service]
Type=simple
User=kxr
WorkingDirectory=/home/kxr/LTI-25/Cosmo
ExecStart=/bin/bash -c '/home/kxr/venv/bin/python3 -u /home/kxr/LTI-25/Cosmo/cosmo_status_server.py >> /home/kxr/status.log 2>&1'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target