[Unit]
Description=Starts cosmo frontend
After=network.target socket_client.service backend.service
Requires=socket_client.service backend.service

[Service]
Type=simple
Restart=always
RestartSec=5
User=kxr
WorkingDirectory=/home/kxr/LTI-25/Cosmo/Telemetry_visualization/Frontend/vite-project
Environment=PATH=/usr/bin:/usr/local/bin:/home/kxr/.nvm/versions/node/v25.2.1/bin/
ExecStart=/bin/bash -c '/home/kxr/.nvm/versions/node/v25.2.1/bin/npm run dev >> /home/kxr/LTI-25/Cosmo/frontend.log 2>&1'

[Install]
WantedBy=multi-user.target