[Unit]
Description=Runs Production Start

[Service]
Type=oneshot
RemainAfterExit=true
User=kxr
WorkingDirectory=/home/LTI-25
ExecStart=/usr/bin/bash /home/LTI-25/Systemd/startCosmo.sh

[Install]
WantedBy=multi-user.target