[Unit]
Description=Socket Server (Controller)
After=network.target

[Service]
Type=simple
User=lti
WorkingDirectory=/home/lti/Production
Restart=always
RestartSec=5
ExecStart=/bin/bash -c '/home/lti/venv/bin/python3 -u /home/lti/Production/Controls/controllerSocketServer.py >> /home/lti/Production/socket.out 2>&1'

[Install]
WantedBy=multi-user.target