[Unit]
Description=QuestDB Docker Container
After=docker.service network.target
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
Environment="CONTAINER_NAME=lti-grafana-1"
ExecStart=/usr/bin/docker start $CONTAINER_NAME
ExecStop=/usr/bin/docker stop $CONTAINER_NAME
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target