[Unit]
Description=Runs Production Start

[Service]
Type=oneshot
RemainAfterExit=true
User=lti
WorkingDirectory=/home/lti/Production
ExecStart=/usr/bin/bash /home/lti/Production/Systemd/startWanda.sh
ExecStop=/usr/bin/bash /home/lti/Production/Systemd/stopWanda.sh

[Install]
WantedBy=multi-user.target